a{
	text-decoration:none;
	display:block;
}
body{
	width:100%;
	margin:0 auto;
	text-align:center;
	background-size:100% 100%;
	background-color:#B2C6DB;

}
#body{
	width:100%;
	height:100%;
	margin:0 auto;
	text-align:center;
}
#top{
	width:100%;
	height:25px;
	margin:0 auto;
	float:left;
	text-align:center;
	background-image: url("../img/menu_top.png");
	background-size :100% 100% ;
}
#content{
	width:100%;
	height:100%;
	float:left;
	margin:0 auto;
	text-align:center;
	
}
.content-menuitems{
	display:block;
	width:100%;
	float:left;
	margin:0 auto;
	text-align:left;
	font-weight:bold;
	font-size:25px;
	color:#E4393C;
	background-image: url("../img/menu_item1.png");
	background-size :100% 100% ;
}
.content-menuitems:hover{
	display:block;
	width:100%;
	float:left;
	margin:0 auto;
	text-align:left;
	font-weight:bold;
	color:#E4393C;
	background-image: url("../img/menu_item2.png");
	background-size :100% 100% ;
}
.content-menuitems-content{
	width:100%;
	margin:0 auto;
	text-align:center;
	float:left;
	background-color:red;
}
.menu-item-a{
	display:block;
	width:100%;
	margin:0 auto;
	text-align:center;
	float:left;
	background-color:#C6D8E8;
}
.menu-item-a:hover{
	display:block;
	width:100%;
	margin:0 auto;
	text-align:center;
	float:left;
	background-color:#9BADC4;
}
.content-menuitems-content{
	display:none;

	width:100%;
	margin:0 auto;
	text-align:center;
	float:left;
	background-color:#9BADC4;
}