<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:context="http://www.springframework.org/schema/context"  
 xmlns:p="http://www.springframework.org/schema/p"  
 xmlns:mvc="http://www.springframework.org/schema/mvc"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
      
   <!-- 配置扫描包，这个包下面的control都会被扫描，相当于加上mapping -->
	<context:component-scan base-package="com.biluo"></context:component-scan>
	<!-- 开启注解 -->
	<mvc:annotation-driven/>

     <!--配置静态资源访问 -->
     <mvc:resources location="/img/" mapping="/img/**"/>
	 <mvc:resources location="/js/" mapping="/js/**"/>
	 <mvc:resources location="/css/" mapping="/css/**"/>
	 <mvc:resources location="/admin/" mapping="/admin/**"/>
	 <mvc:resources location="/upload/" mapping="/upload/**"/>
	 <mvc:resources location="/index/" mapping="/index/**"/>
	  

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
		
	</bean>

	<!-- 文件上传模块 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		  <property name="defaultEncoding" value="utf-8" /><!-- 配置编码 -->
	      <property name="maxUploadSize" value="10485760000" /><!-- 配置上传最大字节 -->
	      <property name="maxInMemorySize" value="40960" /><!-- 缓存大小 -->
	</bean>




	

	
	
 </beans>  