.body {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-size: 100% 100%;
	background-color: #FFFFFF;
}

#body2 {
	width: 1200px;
	height: 700;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
}

#top {
	width: 1200px;
	height: 150px;
	float: left;
	background-color: red;
}

#logo {
	margin-top: 15px;
	margin-left: 20px;
	float: left;
	background-size: 100% 100%;
}

#logo a {
	color: #FFF;
}

#logo_2 {
	display: none;
}

.logo1 li:hover a { /*display:block;*/
	
}

#logo  a:hover {
	color: #000;
}

#search {
	height: 70px;
	float: left;
}

.search1 {
	height: 30px;
	width: 300px;
	margin-left: 200px;
	margin-top: 9px;
}

.btn {
	color: #FFF;
	font-size: 14px;
	background: red;
	border: none;
}

#shouye  li a {
	width: 100px;
	height: 30px;
	text-align: center;
	float: left;
	margin-left: 10px;
}

#shouye li:hover a {
	background: #900;
}

#zhanghu {
	float: right;
	background: #FFF;
	width: 120px;
	margin-right: 20px;
}

#zhanghu a {
	margin-top: 4px;
	color: #333;
	height: 25px;
	line-height: 25px;
}

#lianxi {
	float: left;
	height: 40px;
}

#peisong {
	float: left;
	font: 18px 'ºÚÌå';
}

#peisong a {
	color: #000;
	font-weight: bold;
}

#hotwords strong {
	float: left;
	font-size: 13px;
	margin-left: 100px;
	color: #666;
}

#hotwords a {
	float: left;
	font-size: 13px;
	color: #666;
	padding-left: 5px;
}

#menu {
	width: 1200px;
	height: 340px;
	float: left;
	background: pink;
}

a {
	text-decoration: none;
	color: white;
	display: block;
}

.menu1 td {
	width: 100px;
	height: 35px;
	float: left;
	font-size: 20px;
	background-color: #14c214;
	text-align: center;
}

.menu1 td:hover {
	width: 100px;
	height: 35px;
	float: left;
	font-size: 20px;
	background-color: #107e10;
	text-align: center;
}

#content {
	width: 1200px;
	float: left;
}

#top1 {
	width: 100%;
	background: #CCC;
	float: left;
}

#top1 a {
	float: left;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#top1_left {
	margin-left: 20px;
	margin-top: 4px;
}

#top1_right {
	float: right;
	margin-bottom: 4px;
}

#top1_right a {
	float: left;
	padding-right: 17px;
}

#top1_left a:hover {
	color: #F00;
}

#top1_right a:hover {
	color: #F00;
}

iframe{
	
}